/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#map-container { height: 280px; }
.carousel img {
  margin:0 auto; 
	max-height: 400px;
max-width: 800px;

}
.slider-size {
height: 400px; /* This is your slider height */

}
















