/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#map-container { height: 180px; }
.carousel img {
  margin:0 auto; 
  height: 300px;
  max-width: 80%;
}
.slider-size {
height: 300px; /* This is your slider height */

}














